h1{
	color:orange;
	text-align:center;
	font-size:70px;
}
body{
	background-image:url("web-development-programming-resized-500x500.webp");
	background-size:cover;
}
#name{
	color:orange;
}
#age{
	color:orange;
}
#sex{
	color:orange;
}
#gmail{
	color:orange;
}
#subdate{
	color:orange;
}
#phoneno{
	color:orange;
}
#address{
	color:orange;
}
#but{
	font-size:20px;
	height:50px;
	width:200px;
	background-color:lightblue;
	border-color:blue;
	border-width:6px;
	border-style:solid;
	
}
#but2{
	height:50px;
	width:200px;
	background-color:lightblue;
	border-color:blue;
	border-width:6px;
	border-style:solid;
	color:white;
	font-size:20px;
	
}